{% extends "blocksmith/page.html" %}

{% block title %}
    {{ _("Blocksmith - Edit Snippet") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li>
        <a href="{{ h.url_for('bs_snippet.list') }}">
            {{ _("Snippets List") }}
        </a>
    </li>
    <li>
        <a href="{{ h.url_for('bs_snippet.edit', snippet_id=data.id) }}">
            {{ _("Edit Snippet") }}
        </a>
    </li>
{% endblock %}


{% block secondary_content %}
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{_("Blocksmith - Edit Snippet") }}
    </h2>
    <div class="module-content">
        <p>{{_("Snippet editing.") }}</p>

        <div class="">
            <a class="btn btn-primary" href="{{ h.url_for('bs_snippet.read', snippet_id=snippet_id) }}" title="{{ _('View Snippet') }}">
                <i class="fa fa-eye"></i>
                {{ _('View') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block primary_content %}
    <div class="module-content">
        {% snippet 'blocksmith/snippet/snippets/snippet_form.html', data=data %}
    </div>
{% endblock %}

{%- block scripts %}
    {% asset 'blocksmith/blocksmith-js' %}
    {{ super() }}
{% endblock -%}
