{% ckan_extends %}

{% block header_account_logged %}
    {% if g.userobj.sysadmin %}
        <li>
            <a href="{{ h.url_for('bs_menu.list') }}" title="Menu list">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href="{{ h.url_for('bs_page.create') }}" title="Create a new page">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href="{{ h.url_for('bs_page.list') }}" title="List of pages">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}

    {{ super() }}
{% endblock %}
