{% extends "page.html" %}

{% block title %}
    {{_("Page") }} - {{ page.title }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('blocksmith.read', page_name=page.name) }}">{{ page.title }}</a></li>
{% endblock %}

{% block main_content %}
    {% block flash %}{{ super() }}{% endblock %}
    {% block toolbar %}{{ super() }}{% endblock %}

    <div class="wrapper wrapper-blocksmith" style="background-color: #fff;">
        {% if h.check_access('blocksmith_edit_page', {'name': page.name}) %}
            <a class="btn btn-outline-primary btn-page-edit" href="{{ h.url_for('blocksmith.edit', page_name=page.name) }}">
                {{ _("Edit") }}
            </a>
        {% endif %}

        {% block primary %}
            <div class="blocksmith-page-content">
                {{ page.html|safe }}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{%- block styles %}
    {% asset 'blocksmith/blocksmith-css' %}

    {{ super() }}
{% endblock %}
