.wrapper.wrapper-blocksmith {
    min-height: 400px;

    &:before,
    &:after {
        display: none;
    }
}

.blocksmith-loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-page-edit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.blocksmith-list-page {
    .primary {
        padding: 0;

        .tabulator {
            border-radius: 0;
            border: unset;
        }
    }
}
