$color-active: #206b82;

#blocksmith-pages-list,
#blocksmith-menus-list {
    margin: 0;

    .tabulator-footer {
        border-top: unset;

        .tabulator-footer-contents {
            padding: 0;

            .tabulator-paginator {
                .tabulator-page {
                    border-radius: 0.25rem;
                    padding: 6px 12px;

                    &.active,
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: $color-active;
                        border-color: $color-active;
                        color: #fff;
                    }
                }
            }
        }
    }

    // this is to hide a "Loading..." message that appears when the table is loading
    // I'm not sure, that something important is lost by hiding it
    .tabulator-alert {
        display: none;
    }
}

#blocksmith-menus-list {
    border-radius: unset;
}

.blocksmith-search {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 16px;
    max-width: 15rem;
    width: 100%;

    #blocksmith-search {
        border: 1px solid #aaa;
        box-shadow: unset;
    }

    #blocksmith-clear {
        display: none;
        position: absolute;
        right: 0;
        height: 100%;
        width: 35px;
        height: 33px;
        justify-content: center;
        top: 1px;
        right: 0;

        &.search-active {
            display: flex;
        }
    }
}
